<div id="<%= dom_id post %>">
  <div class="featured-image">
 
  </div>

  <h1 class="font-bold">
    <%= post.title %>
  </h1>

  <div class="meta py-4">
  <span class="pr-4">By: <%= post.author_email %></span>
    
    <%
=begin%>
 <span>Published: <%= format_date(post.published_on) %></span> 
<%
=end%>
  </div>

 
   <div class="post-content mt-10">
    <%= post.body %>
  </div>
   <div class="author-bio p-4 bg-slate-100 my-10 rounded-md">
    <%= post.author_bio %>
  </div>
   <div class="post-references p-4 bg-indigo-100 mb-10 rounded-md">
    
    <%= post.references_section %>
  </div>

</div>
