<div class="container py-10">
<p style="color: green"><%= notice %></p>

<%= render @post %>

<div class="flex mt-24 flex-wrap ">
  <%= link_to "Edit this post",  edit_post_path(@post) , class:"btn btn-stackable " %> 
  <%= link_to "Back to posts", posts_path, class:"btn btn-stackable" %>
  <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-stackable" %>

</div>
